:root {
  font-size: 60%;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --title: #585c73;
  --background: #d5d2d9;
  --text: #707070;
  --unselected-fill: #a7a7a7;
}
