:root {
  font-size: 60%;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --title: #585c73;
  --background: #f2f3f5;
  --text: #707070;
  --unselected-fill: #a7a7a7;

  background-color: var(--background);
}

h1,
h3 {
  color: var(--title);
}

h2,
li,
span,
p,
a {
  color: var(--text);
}

.container header {
  margin: 30px auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.container header .profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container header .profile img {
  width: 94px;
  border-radius: 100%;
  margin-right: 10px;
}

.container header .profile .name h1 {
  font-weight: 700;
  font-size: 3rem;
}

.container header .profile .name h2 {
  margin-top: 5px;
  font-weight: 300;
  font-size: 1.8rem;
}

.container header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container header nav li {
  list-style: none;
  font-size: 1.8rem;
  font-weight: 600;
}

.container header nav li + li {
  margin-left: 30px;
}

.container header nav .active a {
  color: var(--title);
}

.container header nav li a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.container header nav a:hover {
  color: var(--title);
}
