.container header {
  margin: 30px auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.container header .profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container header .profile img {
  width: 94px;
  border-radius: 100%;
  margin-right: 10px;
}

.container header .profile .name h1 {
  font-weight: 700;
  font-size: 3rem;
}

.container header .profile .name h2 {
  margin-top: 5px;
  font-weight: 300;
  font-size: 1.8rem;
}
